@import "../../variables.scss";

header {
  width: 100%;
  background: $lightColor;
  padding: 5px 20px;
  border-radius: $borderRadius;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .left {

    button {
      color: #fff;
      background: $extraColor2;
      border: none;
      padding: 0.375rem 1.25rem;
      border-radius: $borderRadius;
    }

    fa {
      background: #fff;
      font-size: 12px;
      padding: 2px;
      border-radius: 50%;
      margin-left: 8px;
      border: solid 8px $darkColor;
      vertical-align: middle;
    }

    ::ng-deep i {
      width: 14px;
      text-align: center;
    }
  }

  .right {
    margin-left: auto;
    fa {
      padding: 5px;
      margin-right: 10px;
    }

    fa:last-child {
      margin-right: 0;
      margin-left: 10px;
    }
  }

}
