<div class="list-wrapper" *ngIf="data && data.data && data.data.length !== 0">
  <p class="title">{{data.title}}</p>

  <ul>
    <li *ngFor="let item of data.data" (click)="setCurrentItem(item)">
      <div class="base-wrapper item-wrapper" [ngClass]="{'selected' : currentIndex === item.id}">
        <div class="left">
          <div class="circle"></div>
          <span>{{item.title}}</span>
        </div>
        <div class="right" ngbDropdown placement="left">
          <fa [name]="'ellipsis-v'" ngbDropdownToggle></fa>

          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="removeItem(item.id)">Entfernen</button>
            <button class="dropdown-item">Bearbeiten</button>
          </div>
        </div>
      </div>

      <div class="comments-wrapper" *ngIf="item.comments && item.comments.length">
        <div class="avatar"></div>
        <ul>
          <li class="base-wrapper" *ngFor="let comment of item.comments">
            <p>{{comment}}</p>
            <fa [name]="'ellipsis-v'"></fa>
          </li>
        </ul>
      </div>

    </li>
  </ul>
</div>

